* {
    margin: 0px ;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box ;
    text-decoration: none;
}

body{
    background-color: #000000;
    padding: 8px;
}
.side-bar {
    height: auto;
    width: 22.5em ;
    /* background-color: #111111; */
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
    margin: 10px;
   

}
.top-side-bar{
    height: 10em;
    margin-bottom: 10px;
    background-color: #111111;
    border-radius: 10px;

}

.side-nev-logo .logo {
    width: 120px; 
}

.logo img {
    width: 100%;
}

.side-bar ul li {
    padding: 10px 20px;
}

.side-bar ul li a:hover{color:white;transition: ease-in-out;transition-duration: 0.5s;}   

.side-bar ul li a {
    color: #b3b3b3;
    font-size: 1em;
    font-weight: 700;
}
.side-bar ul li a i {
    margin-right: 10px;
    font-size: 1.5em;
}
.home {
    color: white;
}


   /* bottom side   */


.bottom-side-bar{
    width: 100%;
    height: 100%;
    margin-bottom: 10px ;
    background-color: #111111;
    border-radius: 10px;
}

.side-library{
    height: 3.5em;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.side-library div p i {
    font-size: 1.1em;
    margin-left: 5px; 
}   
.side-library div{
    color: #b3b3b3;
    display: inline-block;
    padding: 8px;
   
}
   
.side-library div p:hover{color:white;transition: ease-in-out;transition-duration: 0.5s;} 

.side-library div p{
    color: #b3b3b3;
    display: inline-block;
    padding: 8px;
}  

.plus-icon{
    margin: 1em;
    margin-top: 1em;
}

.play-nev{
    height: 8.5em;
    color: white;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 8px;
    
    border-radius: 10px;
}

.play-nev div {
    display: flex;
    flex-direction: column;
  
}

.p1 {
    font-size: 1em;
    font-weight:700;
    padding: 10px 10px ;
    margin-left: 5px;
}

.p2{
    font-size: 0.875em;
    padding: 0px 15px;
}

.button{
    height: 2em;
    width: 8em;
    border-radius: 40px;
    background-color: #ffffff;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    margin:4px 16px ;
}
.button:hover{height: 2.1hem ; width: 8.1em;transition: ease-in; transition-duration: 20ms;}
.button a {
    color: #000000;
}

.massage{
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    margin: 8px 8px;
    padding: 16px 20px;
    margin-top: 20px;

}
.massage span{
    margin: 5px 0px;
}

.button2{
    height:2em ;
    width: 10em;
    border-radius: 40px;
    color:#000000;
    background-color: #ffffff;
    padding: 4px 16px;
    margin-top: 10px;
    font-size: 0.875em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button2:hover{height: 2.1hem ; width: 10.2em;transition: ease-in; transition-duration: 20ms;}

.links {
    height: 4.85em;
    width: 100%;
    text-transform:capitalize;
    font-size: 11px;
    margin: 32px 0px ;
    padding: 0px 24px;
    display: flex;
    flex-wrap: wrap;
}

.links a {color: #a7a7a7;
    padding-right: 12px;

}

.cookes a {
     font-size: 13px;
     color: #a7a7a7;
     padding: 0px 24px;
}

.lan-but a{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.lan-but{
    height: 2em;
    width: 7.9em;
    margin: 10px 0px 32px 24px;
    padding: 0px 24px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    border:1px solid #a7a7a7;
}

.lan-but:hover{
     border :1.5px solid white;
     height: 2.1em;
     width: 8em;
     font-size: 1em;
}

.navbar{
    margin-left: 23em;
    background-color:#181818;
    height: 4em;
    width: 66em;
    padding: 0px 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius:10px;
    border-top-left-radius: 10px;
}

.prev-btn button {
        height: 2.5em;
        width: 2.5em;
        background-color:transparent;
        border: 0px;
        outline: 0;
        background-color: #000000b3;
        border-radius: 50%;
}

.prev-btn button i{
    color:#cfcfcf;
    font-size: 1.25em;
}

.signup {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #a7a7a7;
    padding: 8px 32px 8px 8px ;
    font-size: 1em;
    font-weight: 700;
}
.signup:hover{
    font-size: 1.05em;
    color: #ffffff;
    transition: ease-in-out;
    text-decoration: 1s;
}

.login{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #000000;
    background-color: #fff;
    padding: 8px 32px ;
    font-size: 1em;
    font-weight: 700;
    height: 3em;
    width: 7em;
    border-radius: 40px;
}

.login:hover{
    height: 3.1em;
    width: 7.1em;
    font-size: 1.05em;
    transition: ease-in-out;
    text-decoration: 1s;
}


/* main section */


main {
    padding-top:1em ;
    padding: 0em 1em ;
    background-color: #252525;
    margin-left: 23em;
}

.info{
    height: 3.8em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.left-p{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight:700;
}

.info a:hover{text-decoration: underline;}

.right-p{
    color: #a7a7a7;
    font-size: 0.875rem;
    font-weight: 500;
}

.pop-art{
    display: flex;
    flex-wrap: wrap;
}
.pop-art .art-box{
    height:20em;
    width :25%;
    background-color: #252525;
}
.art-box{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}

.art-box .img1 {
    background-image: url("https://i.scdn.co/image/ab676161000051740261696c5df3be99da6ed3f3");
    height: 15em;
    width: 15em;
    padding: 1em;
    background-size: cover;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    box-shadow: 1px 1px 10px;
}

.art-box h2{
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;

}
.art-box h3{
    font-size: 0.875rem;
    font-weight: 500;
    color: #a7a7a7;

}

.art-box .img2{
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb654603f76991dc1275e67d39");
    height: 15em;
    width: 15em;
    background-size: cover;
    padding: 1em;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    box-shadow: 1px 1px 10px;
}

.art-box .img3{
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb142f0f2b9f1cbce495d36882");
    height: 15em;
    width: 15em;
    background-size: cover;
    padding: 1em;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    box-shadow: 1px 1px 10px;
}

.art-box .img4{
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb7e509af8bbc3833a2b116f6f");
    height: 15em;
    width: 15em;
    background-size: cover;
    padding: 1em;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
    box-shadow: 1px 1px 10px;
}
